[submodule "llvm"]
	path = llvm
	url = https://github.com/Meulengracht/llvm
[submodule "mesa"]
	path = mesa
	url = https://github.com/Meulengracht/mesa.git
[submodule "glm"]
	path = glm
	url = https://github.com/Meulengracht/glm.git
