[submodule "llvm"]
	path = llvm
	url = https://github.com/Meulengracht/llvm
[submodule "mesa"]
	path = mesa
	url = https://github.com/Meulengracht/mesa.git
[submodule "glm"]
	path = glm
	url = https://github.com/Meulengracht/glm.git
[submodule "doom"]
	path = doom
	url = https://github.com/umbrella-c/vali-doom.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/umbrella-c/SDL
[submodule "lua"]
	path = lua
	url = https://github.com/umbrella-c/lua
[submodule "lite"]
	path = lite
	url = https://github.com/umbrella-c/lite
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/umbrella-c/libsodium
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/umbrella-c/SDL_mixer
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/umbrella-c/SDL_ttf
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/umbrella-c/SDL_image
[submodule "libzip"]
	path = libzip
	url = https://github.com/umbrella-c/libzip
[submodule "vioarr"]
	path = vioarr
	url = https://github.com/Meulengracht/vioarr
